asgiref==3.7.2
attrs==23.2.0
Automat==22.10.0
constantly==23.10.4
construct==2.10.70
Django==5.0.1
django-cors-headers==4.3.1
django-filter==23.5
django-phonenumber-field==7.3.0
djangorestframework==3.14.0
hyperlink==21.0.0
idna==3.6
incremental==22.10.0
phonenumbers==8.13.27
pillow==10.2.0
ply==3.11
protobuf==4.25.1
psycopg2==2.9.9
pyasn1==0.5.1
pycryptodomex==3.19.1
pyotp==2.9.0
pysmi==0.3.4
pysnmp==4.4.12
pytz==2023.3.post1
PyYAML==6.0.1
setuptools==69.0.3
six==1.16.0
sqlparse==0.4.4
Twisted==23.10.0
twisted-iocpsupport==1.0.4
typing_extensions==4.9.0
tzdata==2023.4
zope.interface==6.1
